body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    background-image:url(fondomadra2.jpeg) ;
}



.main{

    width: 40%;
    margin-right:1.5% ;
    background: rgba(255, 210, 154);
    border: 8px solid rgb(250, 192, 122) ;
    float: left;
    

}

.doctores{

    width: 45%;
    margin-right:1.5% ;
    background: rgba(255, 210, 154);
    border: 8px solid rgb(250, 192, 122) ;
    float: right;

}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    
}

footer {
    clear: both;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.member {
    text-align: center;
    margin-bottom: 20px;
    
}

.member img {
    width: 200px;
    border-radius: 50%;
}